.idea/inspectionProfiles/Project_Default.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/codeStyles/Project.xml
.idea/codeStyles/codeStyleConfig.xml
.idea/vcs.xml
.idea/ProjectBattleShip3_10.iml
.idea/modules.xml
.idea/misc.xml
.idea/.gitignore
